<div class="container h-100">
  <div class="row">
    <div class="col-md-12">
      <img>
      <span>user name</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1>Employee Calendar</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div>User Name</div>
      <div>18</div>
      <div>Total Remaining Leaves</div>
    </div>
    <div class="col-md-12">
      <div>Leave Application</div>
      <div>
        <label></label>
        <input type="text" name="" class="form-control input_user" value="" placeholder="Username">
      </div>
      <div>User Name</div>
      <div>User Name</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img>
      <span>user name</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img>
      <span>user name</span>
    </div>
  </div>
</div>